@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-photo {
    clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0% 100%);
}

.backdrop-blur-5xl {
    --tw-backdrop-blur: blur(94px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}